.features {
  margin-top: 10rem;
  @include breakpoint(medium) {
    text-align: center;
  }

  @include breakpoint(small) {
    margin-top: 5rem;
  }

  &__intro {
    max-width: 62rem;
    padding-bottom: 8rem;
    h2 {
      font-size: 4.1rem;
      font-weight: 300;
    }

    p {
      font-size: 1.7rem;
    }
  }

  .grid {
    &__feature {
      @include breakpoint(small) {
        padding: 0 3rem;
      }
      img {
        padding-bottom: 4.4rem;
      }
      h4 {
        font-weight: 300;
        font-size: 2.7rem;
        padding-bottom: 3.3rem;
      }

      p {
        font-size: 1.58rem;
        font-weight: 300;
      }
    }
  }
}
