.footer {
  background: $dark-blue;
  &__grid {
    display: grid;
    gap: 3.5rem;
    grid-template-columns: repeat(3, 1fr) 1fr 1fr;
    grid-template-areas: "socials about careers . copyright";
    justify-items: center;
    align-items: start;

    @include breakpoint(medium) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "socials about careers copyright";
    }

    @include breakpoint(small) {
      padding-top: 5rem;
      gap: 0;
      grid-template-columns: 1fr;
      grid-template-areas: "socials" "about" "careers" "copyright";
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    grid-area: copyright;
    height: 100%;

    div {
      margin-bottom: auto;
      @include breakpoint(small) {
        padding-bottom: 2rem;
      }
    }

    p {
      font-size: 1.5rem;
    }

    @include breakpoint(small) {
      padding-top: 3rem;
    }
  }

  // *Social
  &__socials {
    display: flex;
    flex-direction: column;
    grid-area: socials;
    height: 100%;
    svg {
      margin-bottom: auto;
    }

    @include breakpoint(small) {
      padding-bottom: 2rem;
    }

    &--icons {
      display: flex;
      @include breakpoint(small) {
        padding-top: 3rem;
      }
      li svg path:hover {
        fill: $lime-green;
        cursor: pointer;
      }
      li:not(:first-child) {
        padding-left: 1rem;
      }
    }
  }

  &__about {
    grid-area: about;
    @include breakpoint(small) {
      justify-self: center;
    }
  }

  &__careers {
    grid-area: careers;
  }

  .col li {
    color: $very-light-gray;
    text-align: center;

    &:not(:first-child) {
      line-height: 2;
    }
    &:hover {
      color: $lime-green;
      cursor: pointer;
    }
  }
}
