.footer {
  background: $dark-blue;
  padding: 1rem 7rem;

  .container {
    color: red;
  }
  li {
    line-height: 3;
    a {
      color: $light-gray-blue;
      &:hover {
        color: $lime-green;
      }
    }
  }
  &__grid {
    display: grid;
    gap: 3.5rem;
    grid-template-columns: 3fr 2fr 2fr 2fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "socials contact terms conditions cta";

    @include breakpoint(small) {
      grid-row-gap: 35px;
      grid-column-gap: 0px;
      grid-template-columns: 1fr;
      grid-template-areas: "socials" "contact" "terms" "conditions" "cta";
      align-items: center;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    .logo {
      padding-bottom: 8rem;
    }
  }

  // Grid Area
  &__socials {
    grid-area: socials;
    @include breakpoint(small) {
      justify-self: center;
    }
  }

  &__about-1 {
    grid-area: contact;
    @include breakpoint(small) {
      justify-self: center;
    }
  }

  &__about-2 {
    grid-area: terms;
    @include breakpoint(small) {
      justify-self: center;
    }
  }

  &__rights {
    grid-area: cta;
  }

  &__rights {
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
      font-size: 1.5rem;
      padding-top: 8rem;
    }
  }
}
.socials--icons {
  display: flex;
  li img {
    padding-right: 1rem;
    cursor: pointer;
    &:hover {
      filter: invert(59.9%) sepia(328%) saturate(500%) hue-rotate(94.2deg) brightness(166.5%) contrast(155%);
    }
  }
}
