// Header
.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 16.4rem;
  background: $white;
  height: 8rem;
  position: relative;
  z-index: 1000;

  @include breakpoint(medium) {
    padding: 5.6rem 2.5rem;
  }

  img {
    width: 14.1rem;

    @include breakpoint(medium) {
      width: 13.5rem;
    }

    @include breakpoint(small) {
      width: 8.5rem;
    }
  }

  .menu {
    display: flex;
    li a {
      padding: 0 3.3rem;
      color: $gray-blue;

      @include breakpoint(small) {
        padding: 0 1rem;
      }
    }
  }
}
