// Header
header {
  background: $white;
  position: relative;
  z-index: 1000;
}
.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 6.4rem;
  height: 8rem;

  @include breakpoint(medium) {
    padding: 5.6rem 2.5rem;
  }

  img {
    width: 14.1rem;

    @include breakpoint(medium) {
      width: 13.5rem;
    }

    @include breakpoint(small) {
      width: 8.5rem;
    }
  }

  .menu {
    display: flex;
    li a {
      display: block;
      padding: 0 3.3rem;
      transition: all 0.3s ease-out;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 0.3rem;
        transform: translateY(2.25rem);
        background: linear-gradient(to right, $lime-green, $bright-cyan);
        transition: width 0.3s;
      }

      &:hover {
        color: $dark-blue;
        &::after {
          width: 100%;
        }
      }

      @include breakpoint(small) {
        padding: 0 1rem;
      }
    }
  }
}
