.showcase {
  height: 65.8rem;
  width: 100%;
  position: relative;
  background: $white;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 5rem;
    padding-right: 10rem;
    @include breakpoint(medium) {
      padding-top: 1rem;
      grid-row: 2 / 3;
      padding-left: 3rem;
    }

    h1,
    p {
      padding-bottom: 3.2rem;
    }
    h1 {
      font-size: 5.5rem;
      font-weight: 300;
      @include breakpoint(medium) {
        font-size: 3rem;
      }
    }

    p {
      font-size: 1.7rem;
      padding-right: 10rem;
    }
  }
  .mockups {
    position: absolute;
    top: 10rem;
    left: 17%;
  }
}

.showcase-bg {
  position: absolute;
  top: -260px;
  right: 100px;
  width: 50%;
}
