.showcase {
  // background: $white;
  height: 65rem;
  position: relative;
  background: #fafafa url("../images/bg-intro-desktop.svg") no-repeat;
  background-position: 40vw -40vh;
  background-size: cover;
  position: relative;
  padding: 0 2.5em;

  @include breakpoint(small) {
    height: 65rem;
    background: #fafafa url("../images/bg-intro-mobile.svg") no-repeat;
    background-size: cover;
    background-position: -10vw -30vh;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(small) {
      flex-direction: column-reverse;
    }

    & > div {
      flex: 1;
    }
  }

  .align-start {
    align-items: flex-start;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 5rem;
    max-width: 45rem;
    @include breakpoint(small) {
      text-align: center;
      padding-top: 0rem;
      align-items: center;
    }

    h1,
    p {
      padding-bottom: 3.2rem;
    }
    h1 {
      font-size: 5.5rem;
      font-weight: 300;
      @include breakpoint(small) {
        font-size: 3.3rem;
        padding-top: 0rem;
      }
    }

    p {
      font-size: 1.7rem;
    }
  }
}

.img img {
  max-width: 100%;
  margin-top: -25rem;
  margin-left: 0;
  @include breakpoint(large) {
    margin-left: 20rem;
  }

  @include breakpoint(medium) {
    margin-left: 0;
  }

  @include breakpoint(small) {
    margin-top: -13rem;
    margin-left: 0;
  }
}
